<div class="container">
  <div class="row">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
     <% teams.forEach((team) => { %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= team.friendly_name %>" aria-expanded="true" aria-controls="collapse_<%= team.friendly_name %>">
              <%= team.team_name %>
            </a>
         </h4>
       </div>
       <div id="collapse_<%= team.friendly_name %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
         <div class="panel-body">
           <table class="table table-hover">
             <tbody>
               <tr class="darker-highlight">
                 <th>Home Stats</th>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
              </tr>
               <tr>
                 <th>First Half Corners Won (H)</th>
                   <td><%= team.fhcw_home0 %></td>
                   <td><%= team.fhcw_home1 %></td>
                   <td><%= team.fhcw_home2 %></td>
                   <td><%= team.fhcw_home3 %></td>
                   <td><%= team.fhcw_home4 %></td>
                   <td><%= team.fhcw_home5 %></td>
                   <td><%= team.fhcw_home6 %></td>
                   <td><%= team.fhcw_home7 %></td>
                   <td><%= team.fhcw_home8 %></td>
               </tr>
               <tr>
                 <th>First Half Corners Conceded (H)</th>
                   <td><%= team.fhcc_home0 %></td>
                   <td><%= team.fhcc_home1 %></td>
                   <td><%= team.fhcc_home2 %></td>
                   <td><%= team.fhcc_home3 %></td>
                   <td><%= team.fhcc_home4 %></td>
                   <td><%= team.fhcc_home5 %></td>
                   <td><%= team.fhcc_home6 %></td>
                   <td><%= team.fhcc_home7 %></td>
                   <td><%= team.fhcc_home8 %></td>
               </tr>
               <tr>
                 <th>First Half Corners Won 37-HT (H)</th>
                   <td><%= team.thirty_seven_to_htw_home0 %></td>
                   <td><%= team.thirty_seven_to_htw_home1 %></td>
                   <td><%= team.thirty_seven_to_htw_home2 %></td>
                   <td><%= team.thirty_seven_to_htw_home3 %></td>
                   <td><%= team.thirty_seven_to_htw_home4 %></td>
                   <td><%= team.thirty_seven_to_htw_home5 %></td>
                   <td><%= team.thirty_seven_to_htw_home6 %></td>
                   <td><%= team.thirty_seven_to_htw_home7 %></td>
                   <td><%= team.thirty_seven_to_htw_home8 %></td>
               </tr>
               <tr>
                 <th>First Half Corners Conceded 37-HT (H)</th>
                   <td><%= team.thirty_seven_to_htc_home0 %></td>
                   <td><%= team.thirty_seven_to_htc_home1 %></td>
                   <td><%= team.thirty_seven_to_htc_home2 %></td>
                   <td><%= team.thirty_seven_to_htc_home3 %></td>
                   <td><%= team.thirty_seven_to_htc_home4 %></td>
                   <td><%= team.thirty_seven_to_htc_home5 %></td>
                   <td><%= team.thirty_seven_to_htc_home6 %></td>
                   <td><%= team.thirty_seven_to_htc_home7 %></td>
                   <td><%= team.thirty_seven_to_htc_home8 %></td>
               </tr>
               <tr class="highlighted bold">
                 <th>Total First Half Corners (H)</th>
                   <td><%= parseFloat(team.fhcw_home0) + parseFloat(team.fhcc_home0) %></td>
                   <td><%= parseFloat(team.fhcw_home1) + parseFloat(team.fhcc_home1) %></td>
                   <td><%= parseFloat(team.fhcw_home2) + parseFloat(team.fhcc_home2) %></td>
                   <td><%= parseFloat(team.fhcw_home3) + parseFloat(team.fhcc_home3) %></td>
                   <td><%= parseFloat(team.fhcw_home4) + parseFloat(team.fhcc_home4) %></td>
                   <td><%= parseFloat(team.fhcw_home5) + parseFloat(team.fhcc_home5) %></td>
                   <td><%= parseFloat(team.fhcw_home6) + parseFloat(team.fhcc_home6) %></td>
                   <td><%= parseFloat(team.fhcw_home7) + parseFloat(team.fhcc_home7) %></td>
                   <td><%= parseFloat(team.fhcw_home8) + parseFloat(team.fhcc_home8) %></td>
               </tr>
               <tr>
                 <th>Second Half Corners Won (H)</th>
                   <td><%= team.shcw_home0 %></td>
                   <td><%= team.shcw_home1 %></td>
                   <td><%= team.shcw_home2 %></td>
                   <td><%= team.shcw_home3 %></td>
                   <td><%= team.shcw_home4 %></td>
                   <td><%= team.shcw_home5 %></td>
                   <td><%= team.shcw_home6 %></td>
                   <td><%= team.shcw_home7 %></td>
                   <td><%= team.shcw_home8 %></td>
               </tr>
               <tr>
                 <th>Second Half Corners Conceded (H)</th>
                   <td><%= team.shcc_home0 %></td>
                   <td><%= team.shcc_home1 %></td>
                   <td><%= team.shcc_home2 %></td>
                   <td><%= team.shcc_home3 %></td>
                   <td><%= team.shcc_home4 %></td>
                   <td><%= team.shcc_home5 %></td>
                   <td><%= team.shcc_home6 %></td>
                   <td><%= team.shcc_home7 %></td>
                   <td><%= team.shcc_home8 %></td>
               </tr>
               <tr>
                 <th>Second Half Corners Won 80-FT (H)</th>
                   <td><%= team.eighty_to_ftw_home0 %></td>
                   <td><%= team.eighty_to_ftw_home1 %></td>
                   <td><%= team.eighty_to_ftw_home2 %></td>
                   <td><%= team.eighty_to_ftw_home3 %></td>
                   <td><%= team.eighty_to_ftw_home4 %></td>
                   <td><%= team.eighty_to_ftw_home5 %></td>
                   <td><%= team.eighty_to_ftw_home6 %></td>
                   <td><%= team.eighty_to_ftw_home7 %></td>
                   <td><%= team.eighty_to_ftw_home8 %></td>
               </tr>
               <tr>
                 <th>Second Half Corners Conceded 80-FT (H)</th>
                   <td><%= team.eighty_to_ftc_home0 %></td>
                   <td><%= team.eighty_to_ftc_home1 %></td>
                   <td><%= team.eighty_to_ftc_home2 %></td>
                   <td><%= team.eighty_to_ftc_home3 %></td>
                   <td><%= team.eighty_to_ftc_home4 %></td>
                   <td><%= team.eighty_to_ftc_home5 %></td>
                   <td><%= team.eighty_to_ftc_home6 %></td>
                   <td><%= team.eighty_to_ftc_home7 %></td>
                   <td><%= team.eighty_to_ftc_home8 %></td>
               </tr>
               <tr>
                 <th>Total Second Half Corners (H)</th>
                   <td><%= parseFloat(team.shcw_home0) + parseFloat(team.shcc_home0) %></td>
                   <td><%= parseFloat(team.shcw_home1) + parseFloat(team.shcc_home1) %></td>
                   <td><%= parseFloat(team.shcw_home2) + parseFloat(team.shcc_home2) %></td>
                   <td><%= parseFloat(team.shcw_home3) + parseFloat(team.shcc_home3) %></td>
                   <td><%= parseFloat(team.shcw_home4) + parseFloat(team.shcc_home4) %></td>
                   <td><%= parseFloat(team.shcw_home5) + parseFloat(team.shcc_home5) %></td>
                   <td><%= parseFloat(team.shcw_home6) + parseFloat(team.shcc_home6) %></td>
                   <td><%= parseFloat(team.shcw_home7) + parseFloat(team.shcc_home7) %></td>
                   <td><%= parseFloat(team.shcw_home8) + parseFloat(team.shcc_home8) %></td>
               </tr>
               <tr class="highlighted bold">
                 <th>Total Corners Won (H)</th>
                   <td><%= parseFloat(team.fhcw_home0) + parseFloat(team.shcw_home0) %></td>
                   <td><%= parseFloat(team.fhcw_home1) + parseFloat(team.shcw_home1) %></td>
                   <td><%= parseFloat(team.fhcw_home2) + parseFloat(team.shcw_home2) %></td>
                   <td><%= parseFloat(team.fhcw_home3) + parseFloat(team.shcw_home3) %></td>
                   <td><%= parseFloat(team.fhcw_home4) + parseFloat(team.shcw_home4) %></td>
                   <td><%= parseFloat(team.fhcw_home5) + parseFloat(team.shcw_home5) %></td>
                   <td><%= parseFloat(team.fhcw_home6) + parseFloat(team.shcw_home6) %></td>
                   <td><%= parseFloat(team.fhcw_home7) + parseFloat(team.shcw_home7) %></td>
                   <td><%= parseFloat(team.fhcw_home8) + parseFloat(team.shcw_home8) %></td>
               </tr>
               <tr class="highlighted bold">
                 <th>Total Corners Won (A)</th>
                   <td><%= parseFloat(team.fhcc_home0) + parseFloat(team.shcc_home0) %></td>
                   <td><%= parseFloat(team.fhcc_home1) + parseFloat(team.shcc_home1) %></td>
                   <td><%= parseFloat(team.fhcc_home2) + parseFloat(team.shcc_home2) %></td>
                   <td><%= parseFloat(team.fhcc_home3) + parseFloat(team.shcc_home3) %></td>
                   <td><%= parseFloat(team.fhcc_home4) + parseFloat(team.shcc_home4) %></td>
                   <td><%= parseFloat(team.fhcc_home5) + parseFloat(team.shcc_home5) %></td>
                   <td><%= parseFloat(team.fhcc_home6) + parseFloat(team.shcc_home6) %></td>
                   <td><%= parseFloat(team.fhcc_home7) + parseFloat(team.shcc_home7) %></td>
                   <td><%= parseFloat(team.fhcc_home8) + parseFloat(team.shcc_home8) %></td>
               </tr>
               <tr class="highlighted bold">
                   <th>Full Time Corners (H)</th>
                   <td><%= parseFloat(team.fhcw_home0) + parseFloat(team.shcw_home0) + parseFloat(team.fhcc_home0) + parseFloat(team.shcc_home0) %></td>
                   <td><%= parseFloat(team.fhcw_home1) + parseFloat(team.shcw_home1) + parseFloat(team.fhcc_home1) + parseFloat(team.shcc_home1) %></td>
                   <td><%= parseFloat(team.fhcw_home2) + parseFloat(team.shcw_home2) + parseFloat(team.fhcc_home2) + parseFloat(team.shcc_home2) %></td>
                   <td><%= parseFloat(team.fhcw_home3) + parseFloat(team.shcw_home3) + parseFloat(team.fhcc_home3) + parseFloat(team.shcc_home3) %></td>
                   <td><%= parseFloat(team.fhcw_home4) + parseFloat(team.shcw_home4) + parseFloat(team.fhcc_home4) + parseFloat(team.shcc_home4) %></td>
                   <td><%= parseFloat(team.fhcw_home5) + parseFloat(team.shcw_home5) + parseFloat(team.fhcc_home5) + parseFloat(team.shcc_home5) %></td>
                   <td><%= parseFloat(team.fhcw_home6) + parseFloat(team.shcw_home6) + parseFloat(team.fhcc_home6) + parseFloat(team.shcc_home6) %></td>
                   <td><%= parseFloat(team.fhcw_home7) + parseFloat(team.shcw_home7) + parseFloat(team.fhcc_home7) + parseFloat(team.shcc_home7) %></td>
                   <td><%= parseFloat(team.fhcw_home8) + parseFloat(team.shcw_home8) + parseFloat(team.fhcc_home8) + parseFloat(team.shcc_home8) %></td>
                 </tr>
                 <!-- Away Stats -->
                 <tr class="darker-highlight">
                   <th>Away Stats</th>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                </tr>
                 <tr>
                   <th>First Half Corners Won (A)</th>
                     <td><%= team.fhcw_away0 %></td>
                     <td><%= team.fhcw_away1 %></td>
                     <td><%= team.fhcw_away2 %></td>
                     <td><%= team.fhcw_away3 %></td>
                     <td><%= team.fhcw_away4 %></td>
                     <td><%= team.fhcw_away5 %></td>
                     <td><%= team.fhcw_away6 %></td>
                     <td><%= team.fhcw_away7 %></td>
                     <td><%= team.fhcw_away8 %></td>
                 </tr>
                 <tr>
                   <th>First Half Corners Conceded (A)</th>
                     <td><%= team.fhcc_away0 %></td>
                     <td><%= team.fhcc_away1 %></td>
                     <td><%= team.fhcc_away2 %></td>
                     <td><%= team.fhcc_away3 %></td>
                     <td><%= team.fhcc_away4 %></td>
                     <td><%= team.fhcc_away5 %></td>
                     <td><%= team.fhcc_away6 %></td>
                     <td><%= team.fhcc_away7 %></td>
                     <td><%= team.fhcc_away8 %></td>
                 </tr>
                 <tr class="highlighted bold">
                   <th>Total First Half Corners (A)</th>
                     <td><%= parseFloat(team.fhcw_away0) + parseFloat(team.fhcc_away0) %></td>
                     <td><%= parseFloat(team.fhcw_away1) + parseFloat(team.fhcc_away1) %></td>
                     <td><%= parseFloat(team.fhcw_away2) + parseFloat(team.fhcc_away2) %></td>
                     <td><%= parseFloat(team.fhcw_away3) + parseFloat(team.fhcc_away3) %></td>
                     <td><%= parseFloat(team.fhcw_away4) + parseFloat(team.fhcc_away4) %></td>
                     <td><%= parseFloat(team.fhcw_away5) + parseFloat(team.fhcc_away5) %></td>
                     <td><%= parseFloat(team.fhcw_away6) + parseFloat(team.fhcc_away6) %></td>
                     <td><%= parseFloat(team.fhcw_away7) + parseFloat(team.fhcc_away7) %></td>
                     <td><%= parseFloat(team.fhcw_away8) + parseFloat(team.fhcc_away8) %></td>
                 </tr>
                 <tr>
                   <th>Second Half Corners Won (A)</th>
                     <td><%= team.shcw_away0 %></td>
                     <td><%= team.shcw_away1 %></td>
                     <td><%= team.shcw_away2 %></td>
                     <td><%= team.shcw_away3 %></td>
                     <td><%= team.shcw_away4 %></td>
                     <td><%= team.shcw_away5 %></td>
                     <td><%= team.shcw_away6 %></td>
                     <td><%= team.shcw_away7 %></td>
                     <td><%= team.shcw_away8 %></td>
                 </tr>
                 <tr>
                   <th>Second Half Corners Conceded (A)</th>
                     <td><%= team.shcc_away0 %></td>
                     <td><%= team.shcc_away1 %></td>
                     <td><%= team.shcc_away2 %></td>
                     <td><%= team.shcc_away3 %></td>
                     <td><%= team.shcc_away4 %></td>
                     <td><%= team.shcc_away5 %></td>
                     <td><%= team.shcc_away6 %></td>
                     <td><%= team.shcc_away7 %></td>
                     <td><%= team.shcc_away8 %></td>
                 </tr>
                 <tr>
                   <th>Total Second Half Corners (A)</th>
                     <td><%= parseFloat(team.shcw_away0) + parseFloat(team.shcc_away0) %></td>
                     <td><%= parseFloat(team.shcw_away1) + parseFloat(team.shcc_away1) %></td>
                     <td><%= parseFloat(team.shcw_away2) + parseFloat(team.shcc_away2) %></td>
                     <td><%= parseFloat(team.shcw_away3) + parseFloat(team.shcc_away3) %></td>
                     <td><%= parseFloat(team.shcw_away4) + parseFloat(team.shcc_away4) %></td>
                     <td><%= parseFloat(team.shcw_away5) + parseFloat(team.shcc_away5) %></td>
                     <td><%= parseFloat(team.shcw_away6) + parseFloat(team.shcc_away6) %></td>
                     <td><%= parseFloat(team.shcw_away7) + parseFloat(team.shcc_away7) %></td>
                     <td><%= parseFloat(team.shcw_away8) + parseFloat(team.shcc_away8) %></td>
                 </tr>
                 <tr class="highlighted bold">
                   <th>Total Corners Won (H)</th>
                     <td><%= parseFloat(team.fhcc_away0) + parseFloat(team.shcc_away0) %></td>
                     <td><%= parseFloat(team.fhcc_away1) + parseFloat(team.shcc_away1) %></td>
                     <td><%= parseFloat(team.fhcc_away2) + parseFloat(team.shcc_away2) %></td>
                     <td><%= parseFloat(team.fhcc_away3) + parseFloat(team.shcc_away3) %></td>
                     <td><%= parseFloat(team.fhcc_away4) + parseFloat(team.shcc_away4) %></td>
                     <td><%= parseFloat(team.fhcc_away5) + parseFloat(team.shcc_away5) %></td>
                     <td><%= parseFloat(team.fhcc_away6) + parseFloat(team.shcc_away6) %></td>
                     <td><%= parseFloat(team.fhcc_away7) + parseFloat(team.shcc_away7) %></td>
                     <td><%= parseFloat(team.fhcc_away8) + parseFloat(team.shcc_away8) %></td>
                 </tr>
                 <tr class="highlighted bold">
                   <th>Total Corners Won (A)</th>
                     <td><%= parseFloat(team.fhcw_away0) + parseFloat(team.shcw_away0) %></td>
                     <td><%= parseFloat(team.fhcw_away1) + parseFloat(team.shcw_away1) %></td>
                     <td><%= parseFloat(team.fhcw_away2) + parseFloat(team.shcw_away2) %></td>
                     <td><%= parseFloat(team.fhcw_away3) + parseFloat(team.shcw_away3) %></td>
                     <td><%= parseFloat(team.fhcw_away4) + parseFloat(team.shcw_away4) %></td>
                     <td><%= parseFloat(team.fhcw_away5) + parseFloat(team.shcw_away5) %></td>
                     <td><%= parseFloat(team.fhcw_away6) + parseFloat(team.shcw_away6) %></td>
                     <td><%= parseFloat(team.fhcw_away7) + parseFloat(team.shcw_away7) %></td>
                     <td><%= parseFloat(team.fhcw_away8) + parseFloat(team.shcw_away8) %></td>
                 </tr>
                 <tr class="highlighted bold">
                     <th>Full Time Corners (A)</th>
                     <td><%= parseFloat(team.fhcw_away0) + parseFloat(team.shcw_away0) + parseFloat(team.fhcc_away0) + parseFloat(team.shcc_away0) %></td>
                     <td><%= parseFloat(team.fhcw_away1) + parseFloat(team.shcw_away1) + parseFloat(team.fhcc_away1) + parseFloat(team.shcc_away1) %></td>
                     <td><%= parseFloat(team.fhcw_away2) + parseFloat(team.shcw_away2) + parseFloat(team.fhcc_away2) + parseFloat(team.shcc_away2) %></td>
                     <td><%= parseFloat(team.fhcw_away3) + parseFloat(team.shcw_away3) + parseFloat(team.fhcc_away3) + parseFloat(team.shcc_away3) %></td>
                     <td><%= parseFloat(team.fhcw_away4) + parseFloat(team.shcw_away4) + parseFloat(team.fhcc_away4) + parseFloat(team.shcc_away4) %></td>
                     <td><%= parseFloat(team.fhcw_away5) + parseFloat(team.shcw_away5) + parseFloat(team.fhcc_away5) + parseFloat(team.shcc_away5) %></td>
                     <td><%= parseFloat(team.fhcw_away6) + parseFloat(team.shcw_away6) + parseFloat(team.fhcc_away6) + parseFloat(team.shcc_away6) %></td>
                     <td><%= parseFloat(team.fhcw_away7) + parseFloat(team.shcw_away7) + parseFloat(team.fhcc_away7) + parseFloat(team.shcc_away7) %></td>
                     <td><%= parseFloat(team.fhcw_away8) + parseFloat(team.shcw_away8) + parseFloat(team.fhcc_away8) + parseFloat(team.shcc_away8) %></td>
                   </tr>
             </tbody>
         </table>
        </div>
      </div>
    </div>
    <% }) %>

</div><!-- /panel-group -->

</div><!-- row -->
</div><!-- container -->
